@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1595894427194-998804656179?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-size: cover;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 4px ridge #0f0505;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background: radial-gradient(circle, rgba(49,49,54,1) 0%, rgba(203,24,24,1) 38%);
  color: white;
  text-align: center;
  cursor: grab;
  
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, rgba(203,24,24,1) 44%, rgba(49,49,54,1) 81%);
}

.progress {
  background: radial-gradient(circle, rgba(49,49,54,1) 53%, rgba(203,24,24,1) 93%);
}

.done {
  background: linear-gradient(90deg, rgba(49,49,54,1) 36%, rgba(203,24,24,1) 81%);
}

.hold {
  border: 4px ridge #0f0505;
  background: #f00a15;
  color: #0f0505;
}

.hide {
  display: none;
}

.hovered {
  border-top: 1px solid #96ce44;
}